<div class="columns">
  <div class="column">
    <%= render 'layouts/menu' %>
  </div>
    <div class="column is-half">
      <%= render 'walls/profile_header.html.erb', user: @user %>
      <%= render 'wall_posts/wall_post_self_form', wallpost: @wallpost %>
      <%= render @wallposts %>
    </div>
  <div class="column">
  </div>
</div>