<div class="columns">
    <div class="column">
      <%= render 'layouts/menu' %>
    </div>
    <div class="column is-half" style="margin-top: 25px;">
      <div class="tabs is-centered is-boxed is-medium">
        <ul>
          <li class="is-active">
            <a href="<%= search_u_path(q: params[:q]) %>">
              <span class="icon is-small"><i class="fa fa-inbox"></i></span>
              <span>Users</span>
            </a>
          </li>
          <li>
            <a href="<%= search_p_path(q: params[:q]) %>">
              <span class="icon is-small"><i class="fa fa-pencil"></i></span>
              <span>Posts</span>
            </a>
          </li>
        </ul>
      </div>
        <% @users.each do |user| %>
          <%= render 'home/search_users', user: user %>
        <% end %>
    </div>
    <div class="column">
    </div>
  </div>