<div class="card comment-display <%= 'hidden' if wall_post.comments.empty? %>">
  <div class="card-content" id="wall_post">
    <% if wall_post.comments.empty? %>
      No comments yet. Be the first to comment!
    <% else %>
      <%= render wall_post.comments %>
    <% end %>
  </div>
</div>