<div class="card comment-display <%= 'hidden' if wall_post.comments.empty? %>">
  <div class="card-content" id="wall_post">
      <div class="comments">
        <% if wall_post.comments.empty? %>
          <div class="no-comments">
            No comments yet. Be the first to comment!
          </div>
        <% else %>
          <%= render wall_post.comments %>
        <% end %>
      </div>
  </div>
</div>