<div class="columns">
  <div class="column">
    <%= render 'layouts/menu' %>
  </div>  
  <div class="column is-half">
    <%= render 'wall_post_self_form', wallpost: @wallpost %>
    <%= render @wallposts %>
  </div>
  <div class="column">
  </div>
</div>